* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li {
    list-style: none;
}

[name="slide"] {display: none;}
.slidebox {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.foodImage {
    max-width: 100%;
}
.slidebox .slidelist {
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
}
.slidebox .slideitem {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all .35s;
}
.slidebox .slideitem label {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.slideitem div {
    cursor: pointer;
}
label.left {
    left: 20px;
    background-color: #5F5F5F;
    background-image: url('../Image/left.png');
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
}
label.right {
    right: 20px;
    background-color: #5F5F5F;
    background-image: url('../Image/right.png');
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
}

[id="slide01"]:checked ~ .slidelist .slideitem {transform: translateX(0);}
[id="slide02"]:checked ~ .slidelist .slideitem {transform: translateX(-100%);}
[id="slide03"]:checked ~ .slidelist .slideitem {transform: translateX(-200%);}
[id="slide04"]:checked ~ .slidelist .slideitem {transform: translateX(-300%);}
[id="slide05"]:checked ~ .slidelist .slideitem {transform: translateX(-400%);}

.slideitem h2 {
    font-size: 20px; /* or any size you want */
}

/* 모달 팝업 스타일 */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
    background-color: #fefefe;
    margin: 8% auto;
    padding: 20px;
    top: 35%;
    border: 1px solid #888;
    width: 80%;
    max-width: 700px;
    position: relative;
    text-align: center;
    overflow-y: auto; /* 세로 스크롤 활성화 */
    max-height: 70vh; /* 모달의 최대 높이를 설정, 필요에 따라 조절 가능 */
}
.close-modal-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

center {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
}
.foodContent {
    display: inline-block;
    margin: 10px;
}
.foodContent i {
    font-size: 2em; /* 아이콘 크기 조절 */
    margin-bottom: 20px; /* 아이콘 아래 간격 조절 */
}